# Bỏ qua tất cả các file mặc định
*

# Không bỏ qua thư mục (để Git duyệt vào bên trong tìm kiếm)
!*/

# Giữ lại và theo dõi các file cần thiết
!*.tex
!**/*.tex
!*.sh
!**/*.sh
!README.md
!readme.md
!*.md
!**/*.md

# Giữ lại file .gitignore
!.gitignore
